@keyframes bounce-stetch {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.2);
    }
    75% {
        transform: scaleX(0.9);
    }
    to {
        transform: scaleX(1);
    }
}

@layer utilities {
    .bounce-stretch {
        &:hover {
            animation: bounce-stetch 0.5s linear;
        }
    }
}
