@keyframes underline {
    0% {
        left: 0;
        width: 100%;
    }
    50% {
        left: 100%;
        width: 0;
    }
    51% {
        left: 0;
        width: 0;
    }
    to {
        left: 0;
        width: 100%;
    }
}

.underlined {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: currentColor;
    }
    &:hover::after {
        // animation: underline 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        animation: underline 0.8s cubic-bezier(0.36, 0.01, 0.44, 0.8);
    }
}

@keyframes bounce-stetch {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.2);
    }
    75% {
        transform: scaleX(0.9);
    }
    to {
        transform: scaleX(1);
    }
}

@layer utilities {
    .bounce-stretch {
        &:hover {
            animation: bounce-stetch 0.5s linear;
        }
    }
}
