@import 'utilities/variables';

.hero {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 3rem;
    background-color: transparent;

    &-content {
        display: flex;
        flex-direction: column;
    }

    .title {
        max-width: 600px;
        font-size: 3rem;
    }
}

@media (width <= $sizes-mobile) {
    .hero {
        padding-top: 5rem;

        .title {
            font-size: 1.5rem;
        }

        .container {
            flex-direction: column;
        }
    }

    .hero-content {
        align-items: center;
        text-align: center;
    }
}
