.input-group {
    height: 3.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    max-width: 450px;
    width: 100%;

    input,
    button {
        height: 100%;
    }

    input {
        width: 100%;
        flex-grow: 1;
    }

    button {
        min-height: 45px;
    }
}

@media (width <= 330px) {
    .input-group {
        flex-direction: column;
    }
}

.input {
    padding: 1rem 1.5rem;

    max-width: 350px;

    outline: 0;
    border: 0;
    border-radius: 3px;

    background-color: var(--colors-secondary);
    color: var(--colors-primary);
}
