.title {
    @apply font-title uppercase;
    letter-spacing: 0.02em;
    font-size: clamp(1.75em, 5vw, 3.5em);
    line-height: 90%;
}

.article-link {
    @apply relative inline-block z-1 px-1;

    &::after {
        @apply bg-accent-900 bg-opacity-60 -z-1 absolute inset-x-0;
        content: '';
        bottom: 10%;
        height: 20%;
        transition: height 0.25s ease-in-out;
    }

    &:hover::after {
        height: 90%;
    }
}
