@import '../const';

.title {
    font-family: var(--fonts-title);
    letter-spacing: 0.02em;
    font-size: clamp(1.75em, 5vw, 3.5em);
    text-transform: uppercase;
}

.justify {
    text-align: justify;
}

.article-link {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding-inline: 3px;

    &::after {
        content: '';
        z-index: -1;

        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;

        background-color: var(--colors-accent-300-transparent);
        height: 20%;

        transition: height 0.25s ease-in-out;
    }

    &:hover {
        &::after {
            height: 90%;
        }
    }
}

// @media screen and (max-width: $sizes-tablet) {
//     .title {
//         font-size: 2rem;
//     }
// }
