@import '../const';

.hero {
    width: 100%;
    padding-block: 6rem 2rem;
    background-color: transparent;

    &-content {
        display: flex;
        flex-direction: column;
    }
}

.hero-title,
.hero-subtitle {
    margin: 0;
    padding: 0;
}

.hero-title {
    font-family: 'Autographer';
}

.hero-subtitle {
    font-size: 8em;
    line-height: 0.8em;
    letter-spacing: -0.2ch;
}

.hero-footer {
    text-transform: uppercase;
    font-size: 0.8em;
    width: fit-content;
    max-width: 45ch;
    font-weight: 200;

    letter-spacing: 0.05ch;
    color: #00000080;

    span {
        color: #000;
    }
}

@media screen and (max-width: $sizes-mobile) {
    .hero .container {
        flex-direction: column;
    }

    .hero-content {
        align-items: center;
        text-align: center;
    }
}
