.scroll-wrapper {
    position: fixed;
    top: 0;
    bottom: auto;
    display: flex;

    .project {
        position: relative;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        .title {
            font-size: 6rem;
            line-height: 0.9;

            max-width: min(75vw, 700px);
        }
    }
}
