.title {
    font-family: var(--fonts-title);
    letter-spacing: 0.02em;
    font-size: 3rem;
    text-transform: uppercase;
}

.justify {
    text-align: justify;
}

.about-main {
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.about-sub {
    font-size: 0.75rem;
    font-weight: 300;
    color: #000000cc;
    text-align: right;
}

.article-link {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding-inline: 3px;

    &::after {
        content: '';
        z-index: -1;

        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;

        background-color: var(--colors-contrast-transparent);
        height: 20%;

        transition: height 0.25s ease-in-out;
    }

    &:hover {
        &::after {
            height: 90%;
        }
    }
}
