@font-face {
    font-family: 'Emberly';
    src: url('/fonts/emberly/Emberly-Regular.woff2') format('woff2'),
        url('/fonts/emberly/Emberly-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Emberly';
    src: url('/fonts/emberly/woff2/Emberly-Bold.woff2') format('woff2'),
        url('/fonts/emberly/otf/Emberly-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Emberly';
    src: url('/fonts/emberly/woff2/Emberly-Black.woff2') format('woff2'),
        url('/fonts/emberly/otf/Emberly-Black.otf') format('opentype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}
