{
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["*.json", "*rc", "*.yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none"
}
