@import 'utilities/variables';

$content-padding: max(calc((100vw - #{$sizes-desktop}) / 2), 7.5vw);

.list {
    margin-left: $content-padding;
}

.link:hover {
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--colors-secondary);
}

.footer {
    padding: 0 0 10vh $content-padding;
}
