@import 'utilities/variables';

.image {
    width: clamp(200px, 30vw, 550px);
    padding-left: 4vw;
}

.content {
    max-width: 75ch;
}

.title {
    font-size: clamp(1.5em, 5vw, 4.5em);
}

@media (max-width: 1000px) {
    .image {
        padding-left: 0;
    }
}
