import React from 'react'
{{#if haveStyle}}
import styles from './{{filename}}.module.scss'
{{/if}}

interface Props {}

const {{filename}}: React.FC<Props> = () => {
    return (
        <div {{#if haveStyle}} className={styles.root} {{/if}}>
            <h1>{{filename}} component</h1>
        </div>
    )
}

export default {{filename}}