// breakpoints
$sizes-mobile: 786px;
$sizes-tablet: 900px;
$sizes-desktop: 1350px;

// colors
$color-sub-dim: rgba(255, 255, 255, 0.75);
$crimson: #d7263d;
$baby-blue: #a1dddd;
$feldgrau: #4b6858;
$old-rose: #c98986;
$selective-yellow: #fcba04;
$amethyst: #9368b7;

$primary: #2b2d42;
$secondary: #eaeaea;
$accent: #6b7fd7;

// z indices
$zIndex-overlay: 900;
$zIndex-navbar: 905;
$zIndex-transition-overlay: 910;
