@import 'utilities/variables';

.content {
    counter-reset: section;
}

.section-header {
    &::before {
        @apply font-mono absolute top-0 right-0;
        content: counter(section, decimal-leading-zero);
        counter-increment: section;
    }

    &::after {
        @apply absolute bottom-0 left-0 w-full h-px bg-secondary bg-opacity-75;
        content: '';
    }
}
