@import '../const';

.root {
    background: conic-gradient(
        from 180deg at 50% 50%,
        var(--colors-accent-300) -95.62deg,
        #ffffff 22.5deg,
        var(--colors-accent-300) 264.38deg,
        #ffffff 382.5deg
    );
    background-attachment: fixed;
}

.wrapper {
    min-height: 100vh;
    padding-block: 100px min(7.5vw, 25px);

    display: grid;
    align-items: center;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.header {
    width: 50px;
    display: none;

    h1 {
        transform: rotateZ(90deg) translateY(230px);
        font-size: 7rem;
        text-align: right;
        width: fit-content;
        color: var(--colors-primary);
        text-transform: uppercase;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--colors-primary);
    padding: 15px;
    justify-self: right;

    counter-reset: section;

    section {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 1rem;
    }

    header h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.subtitle {
    font-size: 12px;
    text-transform: uppercase;
    color: $color-sub-dim;

    span {
        color: var(--colors-secondary);
    }
}

.section-header {
    position: relative;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 0.5rem;

    &::before {
        content: counter(section, decimal-leading-zero);
        counter-increment: section;

        font-family: var(--fonts-mono);

        position: absolute;
        top: 0;
        right: 0;
    }

    &::after {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;

        background: $color-sub-dim;
    }
}

.awards {
    .award {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .award-year {
        color: $color-sub-dim;
        font-family: var(--fonts-mono);
    }
}

@media screen and (min-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .content {
        width: 330px;
    }

    .header {
        display: block;
    }
}
