@import 'utilities/variables';

.summary {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 2rem;

    h3 {
        font-size: inherit;
        margin-bottom: 0.5rem;
    }
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: max-content;
        }
    }
}

.tags li {
    color: $color-sub-dim;
}

@media (width >= $sizes-mobile) {
    .summary {
        flex-direction: row;
        gap: 4.5rem;
    }

    .info {
        flex-direction: column;
    }
}
