@import 'const';
@import 'mixins';

:root {
    --zIndex-overlay: 900;
    --zIndex-navbar: 905;
    --zIndex-transition-overlay: 910;

    @include color-shades(#a1dddd, accent);

    --sizes-mobile: #{$sizes-mobile};
    --sizes-tablet: #{$sizes-tablet};
    --sizes-desktop: #{$sizes-desktop};

    --fonts-body: 'Prompt', sans-serif;
    --fonts-title: 'ChaneyExtended', sans-serif;
    --fonts-title-wide: 'ChaneyUltraExtended', sans-serif;
    --fonts-mono: 'CallingCode', monospace;
}

.dark {
    --colors-primary: #0c0c0c;
    --colors-secondary: #f5f5f5;
}

.light {
    --colors-primary: #f5f5f5;
    --colors-secondary: #0c0c0c;
}
