@import 'const';

:root {
    --zIndex-overlay: 900;
    --zIndex-navbar: 905;
    --zIndex-transition-overlay: 910;
    --colors-primary: #a1dddd;
    --colors-primary-transparent: #a1dddd8e;

    --sizes-mobile: #{$sizes-mobile};
    --sizes-tablet: #{$sizes-tablet};
    --sizes-desktop: #{$sizes-desktop};

    --fonts-body: 'Prompt', sans-serif;
    --fonts-title: 'ChaneyExtended', sans-serif;
    --fonts-title-wide: 'ChaneyUltraExtended', sans-serif;
    --fonts-mono: 'CallingCode', monospace;
}

.dark {
    --colors-text: white;
    --colors-background: #0c0c0c;
}

.light {
    --colors-text: black;
    --colors-background: white;
}
