:root {
    --zIndex-overlay: 900;
    --zIndex-navbar: 905;
    --colors-text: white;
    --colors-background: black;
    --colors-contrast: #a1dddd;

    --sizes-mobile: 786px;
    --sizes-tablet: 900px;
    --sizes-desktop: 1350px;

    --fonts-body: 'Prompt', sans-serif;
    --fonts-title: 'ChaneyExtended', sans-serif;
}
