@use 'fonts';
@use 'reset';
@use 'components';
@use 'variables';

::selection {
    color: var(--colors-primary);
    background-color: var(--colors-accent-40);
}

::-webkit-scrollbar {
    width: 0px;
}

html,
body,
#__next {
    color: var(--colors-secondary);
    background-color: var(--colors-primary);
    font-family: var(--fonts-body);
    font-variant-ligatures: common-ligatures;
}
