@use 'tailwind';
@use 'fonts';
@use 'components';

::-webkit-scrollbar {
    width: 0px;
}

::selection {
    @apply text-primary bg-secondary font-body dark:text-secondary dark:bg-primary;
}

body {
    @apply text-secondary bg-primary dark:text-primary dark:bg-secondary;
    @apply transition-colors duration-300 ease-in-out;
    font-variant-ligatures: common-ligatures;
    line-height: 1;
}
