@import 'utilities/variables';
@import 'utilities/mixins';

:root {
    @include color-styles($accent, accent);

    --fonts-body: 'Prompt', sans-serif;
    --fonts-title: 'ChaneyExtended', sans-serif;
    --fonts-title-wide: 'ChaneyUltraExtended', sans-serif;
}

.dark {
    --colors-primary: #{$primary};
    --colors-secondary: #{$secondary};
}

.light {
    --colors-primary: #{$secondary};
    --colors-secondary: #{$primary};
}
