.segment {
    display: inline-block;
    user-select: none;

    span {
        font-weight: bold;
        cursor: pointer;
    }

    svg {
        margin: 0 0.5rem;
    }

    a:hover {
        font-weight: bold;
    }
}
