.link {
    z-index: 2;
}

.period {
    fill: currentColor !important;
    animation: jump 6s infinite ease-in !important;
}

@keyframes jump {
    0% {
        //start frame
        transform: translateY(0);
    }
    3%,
    5% {
        //first hop top
        transform: translateY(-3px);
    }
    8% {
        //first hop bottom
        transform: translateY(0);
    }
    10% {
        //second hop top
        transform: translateY(-2.5px);
    }
    13% {
        //end frame
        transform: translateY(0);
    }
}
