$size: 1em;
$thickness: 2px;
$radius: 5px;

.root {
    backdrop-filter: blur(5px);
}

.active {
    .open span {
        transform: translateX(150%);
        opacity: 0;
        &:nth-child(2) {
            transform: translateX(-150%);
        }
    }
    .close {
        &::before {
            opacity: 1;
            transform: rotate(45deg) translate(0);
        }
        &::after {
            opacity: 1;
            transform: rotate(-45deg) translate(0);
        }
    }
}

.open,
.close {
    width: $size;
    height: $size;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span {
        height: $thickness;
        width: $size;
        background-color: currentColor;
        border-radius: $radius;
        transition: all 0.15s linear;
    }
}

.close {
    &::before,
    &::after {
        opacity: 0;
        content: '';
        position: absolute;
        height: $thickness;
        width: 100%;
        top: 50%;
        left: 0;
        background: currentColor;
        border-radius: $radius;
        transition: all 0.1s linear 25ms;
    }

    &::before {
        transform: rotate(45deg) translate(-100%);
    }
    &::after {
        transform: rotate(-45deg) translate(100%, -100%);
    }
}

.search {
    width: 100%;
    input {
        border: none;

        &::placeholder {
            font-weight: bold;
        }
        &:focus {
            box-shadow: none;
        }
    }
    div {
        pointer-events: none;
    }
}
