@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}
