.wrapper {
    position: fixed;
    bottom: 10%;
    left: 50%;

    transform: translate(-50%, 0);

    height: 2px;
    width: 70px;

    background-color: #474747;

    user-select: none;

    font-family: 'Helvetica neue Regular', sans-serif;
}

.bar {
    width: 0;
    height: 100%;

    background-color: var(--colors-primary);
}

.start,
.end {
    position: absolute;
    display: inline-block;
    font-size: 11px;
    top: 2px;
    bottom: auto;
}

.start {
    left: 0;
    right: auto;
}

.end {
    left: auto;
    right: 0;
}
