@import 'utilities/variables';

$size: 1.5em;
$thickness: 2px;
$radius: 5px;

.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;

    padding-top: 3.75rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: $zIndex-navbar;

    & > * {
        color: var(--colors-accent-40);
    }

    &.white > * {
        color: white !important;
    }
}

.logo {
    transition: color 0.4s linear;

    text-transform: lowercase;
    font-weight: 900;
    font-size: 20px;
}

@media (width <= $sizes-mobile) {
    .root {
        padding-top: 2rem;
    }
}
