@import '../../styles/const';

$size: 1.5em;
$thickness: 2px;
$radius: 5px;

.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;

    width: 90%;
    padding-top: 3.75rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: var(--zIndex-navbar);
}

.logo {
    transition: color 0.4s linear;
    text-transform: uppercase;
    color: var(--colors-text);

    &.white {
        color: white;
    }
}

@media screen and (max-width: $sizes-mobile) {
    .nav-bar {
        padding-top: 2.75rem;
    }
}
